


  hr.solid {
  border-top: 2px solid #00FFFF;
  }

  body {
     background-image: linear-gradient(red, blue)

  }



  a {

  color: aqua;

  }

   h1{

    color: White;
    text-align: center;
    font-family: Courier;
    font-size: 60;
    margin-bottom: 0;
    padding-bottom: 0;
     }

     h2{

      color: White;
      text-align: center;
      font-family: Comic Sans MS, Comic Sans, cursive;
      font-size: 15;
      margin-top: 0;
      padding-top: 0;
       }

       h3 {

        color: White;
        text-align: left;
        font-family: Courier;
        text-decoration: underline;
        font-size: 40;


         }

       para {

         line-height: 1.5;
         color: White;
         text-align: left;
         font-family: Comic Sans MS;
         font-size: 20;


       }

       .vl {
  border-left: 6px solid aqua;
  height: 500px;
  margin-left: 700px;
  padding-right: 10px;


     .mycss_class_selector {
       color: blue;
       text-align:center;
     }

    #mycss_id_selector {
       color: green;
       text-align:center;
     }
